<div class="page-header">
  <h3>The below Event has now been added.</h3>
</div>

<div class="nation-row medalists">
  <h3><span>Sport: </span><%= @event.sport.name %></h3>
  <h3><span>Name: </span><%= @event.name %></h3>
  <h3><span>Class: </span><%= @event.class %></h3>
  <h3><span>Score Method:</span><%= @event.score_method %></h3>
  <h3><span>Team Size:</span><%= @event.team_size == 1 ? "Individual" : "#{@event.team_size} Athletes" %></h3>
</div>

<div class="page-header">
  <a href="/events/<%= @event.id %>">View Event</a>
  <a href="/sports/<%= @event.sport.id %>">View all <%= @event.sport.name %> Events</a>
</div>