<div class="page-header">
  <h1>Events</h1>
</div>

<div class="page-header">
  <a href="/events/new">Add New Event</a> 
  <form method="get">
    <input type="hidden" name="search" value="=" id="search">
    <input type="submit" value="Individual">
  </form>
  <form method="get">
    <input type="hidden" name="search" value=">" id="search">
    <input type="submit" value="Team">
  </form>
  <form method="get">
    <input type="hidden" name="search" value="" id="search">
    <input type="submit" value="All">
  </form>
</div>

<div class="main-cell">
  <table>
    <tr>
      <th>Sport</th>
      <th>Name</th>
      <th>Class</th>
      <th>Score Method</th>
    <tr>
    <% @events.each do |event| %>
      <tr>
        <td class="results"><%= event.sport.name %></td>
        <td class="results"><%= event.name %></td>
        <td class="results"><%= event.class.capitalize %></td>
        <td class="results"><%= event.score_method.capitalize %></td>
        <td class="results page-header"><a href="/events/<%= event.id %>">View</a></td>
      </tr>
    <% end %>
  </table>
</div>

