<div>
  <h3>Event</h3>
  <table>
    <tr>
      <th>Sport</th>
      <th>Name</th>
      <th>Class</th>
      <th>Score Method</th>
    <tr>
    <tr>
      <td><%= @event.sport.name %></td>
      <td><%= @event.name %></td>
      <td><%= @event.class %></td>
      <td><%= @event.score_method %></td>
    </tr>
  </table>
</div>

<form action="/events/<%= @event.id %>" method="post">
  
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Event">

</form>

<a href="/events/<%= @event.id %>/edit">Edit Event</a>
<a href="/events/<%= @event.id %>/contests">View Contests</a>
<a href="/sports/<%= @event.sport.id %>">View all <%= @event.sport.name %> Events</a>