<div class="main-cell space">
  <h2>Edit <%= @team.name %></h2>

  <form action="/teams/<%= @team.id %>" method="post">

    <fieldset>
      <label for="nation_id">Nation:</label>
      <select type="text" name="nation_id" id="nation_id">
        <% @nations.each do |nation| %>
          <option value="<%= nation.id %>" <%= "selected" if @team.nation_id == nation.id %> ><%= nation.name %></option>
        <% end %>
      </select>

      <label for="event_id">Event:</label>
      <select type="text" name="event_id" id="event_id">
        <% @sports.each do |sport| %>
          <optgroup label="<%= sport.name %>">
            <% sport.events.each do |event| %>
              <% if event.team_size > 1 %>
                <option value="<%= event.id %>" <%= "selected" if @team.event_id == event.id %> ><%= event.name %> <%= event.class.capitalize %></option>
              <% end %>
            <% end %>
          </optgroup>
        <% end %>
      </select>

      <input type="hidden" name="_method" value="put">
      <input type="submit" value="Update Team">
    </fieldset>

  </form>
</div>