<% if @team.athlete_count < @team.event.team_size %>
  <div class="main-cell space">
  <h3>Add Athlete to Team for <%= @team.nation.name %> <%= @team.name %></h3>
  <h3>Current number of Athletes in team: <%= @team.athletes.count %></h3>

  <form action="/athletes_teams" method="post">

    <input type="hidden" name="team_id" value="<%= @team.id %>">
    <fieldset>
    <label for="athlete_id">Athlete: </label>
      <select type="text" name="athlete_id" id="athlete_id">
        <% @athletes.each do |athlete| %>
          <% if athlete.nation.name == @team.nation.name && !@team.has_athlete?(athlete.id) %>
            <% if athlete.gender == @team.event.class %>
              <option value="<%= athlete.id %>"><%= athlete.full_name %></option>
            <% elsif @team.event.class == "mixed" && @team.athlete_count.odd? %>
              <% if @team.athletes.last.gender != athlete.gender %>
                <option value="<%= athlete.id %>"><%= athlete.full_name %></option>
              <% end %>
            <% elsif @team.event.class == "mixed" %>
                <option value="<%= athlete.id %>"><%= athlete.full_name %></option>
            <% end %>
          <% end %>
        <% end %>
      </select>
      <input type="submit" value="Add Athlete">
    </fieldset>
  </form>
<% else %>
  <div class="page-header">
    <h3>Sorry, no more athletes can be added to Team <%= @team.nation.name %> - <%= @team.name %></h3>
    <h3>Event team size: <%= @team.event.team_size %></h3>
    <a href="/teams/<%= @team.id %>">Return to Team</a>
  </div>
<% end %>