<h4>Add Athlete to Team for <%= @team.nation.name %> <%= @team.name %></h4>
<h5>Current number of Athletes in team <%= @team.athletes.count %></h5>

<form action="/athletes_teams" method="post">

  <input type="hidden" name="team_id" value="<%= @team.id %>">

  <label for="athlete_id">Athlete</label>
  <select type="text" name="athlete_id" id="athlete_id">
    <% @athletes.each do |athlete| %>
      <% if athlete.nation.name == @team.nation.name %>
        <option value="<%= athlete.id %>"><%= athlete.full_name %></option>
      <% end %>
    <% end %>
  </select>

  <input type="submit" value="Add Athlete">

</form>