<div>
  <h5><%= @nation_count %> Nations | <%= @athlete_count %> Athletes | <%= @sport_count %> Sports | <%= @event_count %> Events | <%= @venue_count %> Venues</h5>
</div>

<h2>Medal Table</h2>
<div>
  <table>
    <tr>
      <th>Position</th>
      <th>Nation</th>
      <th><img class="medal" src="/images/logos/gold_medal.png"></th>
      <th><img class="medal" src="/images/logos/silver_medal.png"></th>
      <th><img class="medal" src="/images/logos/bronze_medal.png"></th>
      <th>Points</th>
    </tr>
    <% counter = 1 %>
    <% @nations.sort! {|nation_a, nation_b| (nation_b.points <=> nation_a.points) == 0 ? (nation_b.gold <=> nation_a.gold) : (nation_b.points <=> nation_a.points)} %>
    <% @nations.each do |nation| %>
      <tr>
        <td><%= counter %></td>
        <td><a href="/nations/<%= nation.id %>"><%= nation.name %></a></td>
        <td><%= nation.gold %></td>
        <td><%= nation.silver %></td>
        <td><%= nation.bronze %></td>
        <td><%= nation.points %></td>
      </tr>
      <% counter += 1 %>
    <% end %>
  </table>
</div>