<div class="filter-form">
  <form method="get">
    <label for="filter">Filter Medalists by Sport</label>
    <select type="text" name="filter" id="filter">
        <% @sports_filter.each do |sport| %>
          <option value="<%= sport.id %>"><%= sport.name %></option>
        <% end %>
    </select>
    <input type="submit" value="Filter">
  </form>
  <form method="get">
    <input type="hidden" name="filter" value="0">
    <input type="submit" value="View All">
  </form>
</div>

<h2>Medalists</h2>
<div>
  <% @sports.each do |sport| %>
    <h3><%= sport.name %></h3>
    <% sport.events.each do |event| %>
      <% medalists = event.medalists() %>
      <% if medalists != nil %>
        <% team_size = event.team_size %> 
        <h4><%= event.class.capitalize %> <%= event.name %></h4>
        <% if medalists[0] != nil %>
          <h5>Gold: <%= team_size == 1 ? "#{medalists[0].full_name} from #{medalists[0].nation.name}" : medalists[0].nation.name %> </h5>
        <% end %>
        <% if medalists[1] != nil %>
          <h5>Silver: <%= team_size == 1 ? "#{medalists[1].full_name} from #{medalists[1].nation.name}" : medalists[1].nation.name %> </h5>
        <% end %>
        <% if medalists[2] != nil %>
          <h5>Bronze: <%= team_size == 1 ? "#{medalists[2].full_name} from #{medalists[2].nation.name}" : medalists[2].nation.name %> </h5>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>