<h2>Medalists</h2>
<div>
  <% @sports.each do |sport| %>
    <h3><%= sport.name %></h3>
    <% sport.events.each do |event| %>
      <% gold = event.medalist("gold") %>
      <% silver = event.medalist("silver") %>
      <% bronze = event.medalist("bronze") %>
      <h4><%= event.name %></h4>
      <% if gold != nil %>
        <h5>Gold: <%= gold.full_name %> from <%= gold.nation.name %> </h5>
      <% end %>
      <% if silver != nil %>
        <h5>Silver: <%= silver.full_name %> from <%= silver.nation.name %> </h5>
      <% end %>
      <% if bronze != nil %>
        <h5>Bronze: <%= bronze.full_name %> from <%= bronze.nation.name %> </h5>
      <% end %>
    <% end %>
  <% end %>
</div>