<div class="main-cell">
  <form method="get">
    <label for="filter">Filter Medalists by Sport: </label>
    <select type="text" name="filter" id="filter">
        <option disabled selected>--- Select Sport ---</option>
        <% @sports_filter.each do |sport| %>
          <option value="<%= sport.id %>"><%= sport.name %></option>
        <% end %>
    </select>
    <input type="submit" value="Filter">
  </form>
  <form method="get">
    <input type="hidden" name="filter" value="0">
    <input type="submit" value="View All">
  </form>
</div>

<div class="main-cell medalists">
  <h1>Medalists</h1>
  <% @sports.each do |sport| %>
    <h2><%= sport.name %></h2>
    <% sport.events.each do |event| %>
      <% medalists = event.medalists() %>
      <% if medalists != nil %>
        <% team_size = event.team_size %> 
        <h3><%= event.class.capitalize %> <%= event.name %></h3>
        <% if medalists[0] != nil %>
          <h4><span>Gold:</span> <%= team_size == 1 ? "#{medalists[0].full_name} from #{medalists[0].nation.name}" : medalists[0].nation.name %> </h4>
        <% end %>
        <% if medalists[1] != nil %>
          <h4><span>Silver:</span> <%= team_size == 1 ? "#{medalists[1].full_name} from #{medalists[1].nation.name}" : medalists[1].nation.name %> </h4>
        <% end %>
        <% if medalists[2] != nil %>
          <h4><span>Bronze:</span> <%= team_size == 1 ? "#{medalists[2].full_name} from #{medalists[2].nation.name}" : medalists[2].nation.name %> </h4>
        <% end %>
      <% end %>
    <% end %>
    <br>
    <hr>
  <% end %>
</div>