<h2>Medalists</h2>
<div>
  <% @sports.each do |sport| %>
    <h3><%= sport.name %></h3>
    <% sport.events.each do |event| %>
      <% medalists = event.medalists() %>
      <h4><%= event.name %></h4>
      <% if medalists[0] != nil %>
        <h5>Gold: <%= medalists[0].full_name %> from <%= medalists[0].nation.name %> </h5>
      <% end %>
      <% if medalists[1] != nil %>
        <h5>Silver: <%= medalists[1].full_name %> from <%= medalists[1].nation.name %> </h5>
      <% end %>
      <% if medalists[2] != nil %>
        <h5>Bronze: <%= medalists[2].full_name %> from <%= medalists[2].nation.name %> </h5>
      <% end %>
    <% end %>
  <% end %>
</div>