<h4>Edit result for <%= @contest.event.sport.name %> <%= @contest.event.class.capitalize %> <%= @contest.event.name %> <%= @contest.name %></h4>

<form action="/results/<%= @result.id %>" method="post">

  <input type="hidden" name="contest_id" value="<%= @contest.id %>">

  <label for="athlete_id">Athlete</label>
  <select type="text" name="athlete_id" id="athlete_id" disabled>
    <% @nations.each do |nation| %>
      <optgroup label="<%= nation.name %>">
        <% nation.athletes.each do |athlete| %>
          <% if athlete.gender == @contest.event.class %>
            <option value="<%= athlete.id %>" <%= "selected" if @result.athlete_id == athlete.id %> ><%= athlete.full_name %></option>
          <% end %>
        <% end %>
      </optgroup>
    <% end %>
  </select>

  <label for="score"><%= @contest.event.score_method.capitalize %></label>
  <input type="text" name="score" id="score" value="<%= @result.print_score %>">

  <input type="hidden" name="athlete_id" value="<%= @result.athlete_id %>">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Update Result">

</form>