<h4>Add result for <%= @contest.event.sport.name %> <%= @contest.event.class.capitalize %> <%= @contest.event.name %> <%= @contest.name %></h4>

<form action="/results" method="post">

  <input type="hidden" name="contest_id" value="<%= @contest.id %>">

  <label for="athlete_id">Athlete</label>
  <select type="text" name="athlete_id" id="athlete_id">
    <% @nations.each do |nation| %>
      <optgroup label="<%= nation.name %>">
        <% nation.athletes.each do |athlete| %>
          <% if athlete.gender == @contest.event.class && athlete.has_result?(@contest.id) < 1 %>
            <option value="<%= athlete.id %>"><%= athlete.full_name %></option>
          <% end %>
        <% end %>
      </optgroup>
    <% end %>
  </select>

  <label for="score"><%= @contest.event.score_method.capitalize %></label>
  <input  type="text" <%= "placeholder='Hr:Min:Sec.USec'" if @contest.event.score_method == "time" %> name="score" id="score">

  <input type="submit" value="Add Result">

</form>