<h3>Venues</h3>

<h5>Name: <%= @venue.name %></h5>
<h5>Location: <%= @venue.location %></h5>
<h5>Capacity: <%= @venue.capacity %></h5>

<form action="/venues/<%= @venue.id %>" method="post">
  
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Venue">
  
</form>

<a href="/venues/<%= @venue.id %>/edit">Edit Venue</a>

<h4>Events Taking Place at Venue</h4>
<table>
  <tr>
    <th>Event</th>
    <th>Date</th>
  </tr>
  <% @venue.contests.each do |contest| %>
  <tr>
    <td><%= contest.full_name %></td>
    <td><%= contest.dt() %></td>
  </tr>
  <% end %>
</table>
<a href="/venues">View All Venues</a>