<div>
  <h3>Contest Details</h3>
  <table>
    <tr>
      <th>Sport</th>
      <th>Event</th>
      <th>Name</th>
      <th>Venue</th>
    <tr>
    <tr>
      <td><a href="/sports/<%= @contest.event.sport.id %>"><%= @contest.event.sport.name %></a></td>
      <td><a href="/events/<%= @contest.event.id %>"><%= @contest.event.class.capitalize %> <%= @contest.event.name %></a></td>
      <td><%= @contest.name %></td>
      <td><a href="/venues/<%= @contest.venue.id %>"><%= @contest.venue.name %></a></td>
    </tr>
  </table>
</div>

<form action="/contests/<%= @contest.id %>" method="post">
  
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Contest">

</form>

<a href="/contests/<%= @contest.id %>/edit">Edit Contest Details</a>

<h3>Results</h3>

<div>
  <table>
    <tr>
      <th>Athlete</th>
      <th><%= @contest.event.score_method.capitalize %></th>
    <tr>
    <% @contest.results.each do |result| %>
      <tr>
        <td><%= result.athlete.full_name %></td>
        <td><%= result.score %></td>
        <td><a href="/contests/<%= @contest.id %>/results/<%= result.id %>/edit">Edit</a></td>
      </tr>
    <% end %>
  </table>
</div>

<a href="/contests/<%= @contest.id %>/results/new">Add New Result</a> 