<div class="nation-row medalists">
  <div class="page-header">
    <h3>The below Athlete has now been added.</h3>
  </div>

  <div class="flag-container">
    <img class="athlete-image" src="<%= @athlete.image %>" alt="image of <%= @athlete.full_name %>">
    <h3><span>Nation: </span><%= @athlete.nation.name %></h2>
    <h3><span>First Name: </span><%= @athlete.first_name %></h2>
    <h3><span>Last Name: </span><%= @athlete.last_name %></h2>
    <h3><span>Date of Birth: </span><%= @athlete.dob %></h2>
  </div>

  <div class="page-header">
    <a href="/athletes">View all Athletes</a>
  </div>
</div>