<div>
  <h3>Below result has now been added</h3>
  <table>
    <tr>
      <th>Event</th>
      <th>Team</th>
      <th><%= @team_result.contest.event.score_method.capitalize %></th>
    <tr>
    <tr>
      <td><%= @team_result.contest.full_name %></td>
      <td><%= @team_result.team.nation.name %></td>
      <td><%= @team_result.print_score %></td>
    </tr>
  </table>
</div>

<a href="/results">View all Results</a>
<a href="/contests/<%= @team_result.contest.id %>/team_results/new">Add Another Result</a>
<a href="/contests/<%= @team_result.contest.id %>">Return to Contest</a>